{% extends 'base.html.twig' %}

{% block title %}Web Forum{% endblock %}

{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Bienvenue sur le Forum Web</h1>
    <p class="fs-5 text-muted">Consultez la liste des derniers commentaires</p>
    <div id="tread"></div>
</div>
{% endblock %}
